Src/Vortex/obj/Debug/build.force
Src/Vortex/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Src/Vortex/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Src/Vortex/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Src/Vortex/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Src/Vortex/obj/Debug/Vortex.csproj.FileListAbsolute.txt
Src/Vortex/obj/Debug/Vortex.csprojResolveAssemblyReference.cache
Src/Vortex/Vortex.csproj.user
Src/Vortex/Vortex.v11.suo
Src/Vortex/Web.Debug.config
Src/Vortex/obj/Debug/Vortex.dll
Src/Vortex/obj/Debug/Vortex.pdb